<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>

<body>
    <h1>Sign Up Page</h1>
    <form method="POST" action="/registration">
        <h5>First Name</h5> <input type="textbox" name="Firstname"><br>
        <h5>Last Name </h5> <input type="textbox" name="Lastname"> <br>
        <h5>Email address</h5> <input type="email" name="email"><br>
        <h5>Password</h5> <input type="password" name="password1"><br>
        <h5>Confirm Password</h5> <input type="password" name="password2"><br><br> 
        <button type="submit">sign Up
        </button>
    </form>
</body>

</html>