<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users</title>
</head>
<body>
    <h1>Users</h1>
    <ul>
        <% for (var i=0; i < users.length; i++) { %>
        <li>
           <h3><img src= "<%= users[i].picture.thumbnail %> " alt=""> <%= users[i].name.first %> <%= users[i].name.last %></h3> 
        </li>
        <% } %>
    </ul>
</body>
</html>